{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<form method="POST">
  <br />
  <div class="row" align="center">
    {% if user.is_authenticated %}
    <div class="col">
      <h1>Generate & Share!</h1>
    </div>
    {% else %}
    <div class="col">
      <h1>Sign to share files</h1>
    </div>
    {% endif %}
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Regenerate</button>
  </div>
</form>
<br />
{% if gifs%}
{% for row in gifs%}
<div class="row" align="center">
  {% for colmn in row%}
  <div class="col">
    <figure class="figure">
      <img width="300" height="300" src="{{url_for('static', filename='uploads/'+colmn+'.gif')}}" class="img rounded "
        alt="Gif">
    </figure>
  </div>
  {% endfor %}
</div>
{% endfor %}
{%else%}
<h1>If u see this, go to /setup</h1>
{% endif %}
{% endblock %}