{% extends "base.html" %} {% block title %}Shared{% endblock %} {% block
content%}

<h2 align="center">{{ gif_name }}</h2>
<br/>
<br/>
<br/>
<div class="container-fluid" >
    <div class="row" align="center">
        <div class="col">
            <figure class="figure">
                <img src="{{url_for('static', filename='uploads/'+url_gif+'.gif')}}"
                    class="img-fluid rounded " alt="Gif">
                <figcaption class="figure-caption  text-end small-font-size">by {{ author_name }}</figcaption>
            </figure>
        </div>
        <div class="col">
            <text>Here you can share it</text>
            <br/>
            <p class="h6" id="link">HereMustBeALink</p>
            <button class="btn" data-clipboard-target="#link">
                <svg width="30" height="30" fill="currentColor" class="bi bi-link " viewBox="0 0 16 16" alt="Copy to clipboard">
                    <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                    <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                  </svg>
            </button>
        </div>
    </div>
</div>
</div>

<script>
    document.getElementById('link').innerHTML = window.location.href;
</script>
{% endblock %}