{% extends "base.html" %} {% block title %}Upload{% endblock %} {% block
content%}

<h3 align="center">Upload your pictures or GIF</h3>

<form method=post enctype=multipart/form-data>
  <div class="form-group">
    <label for="filename"> File name</label>
    <input type="text" class="form-control" id="filename" name="filename" placeholder="Desired filename.gif" />

    <br />

    <label for="formFileMultiple" class="form-label">Enter multiple jpegs, or pngs</label>
    <input class="form-control" type="file" id="file" name="file" multiple />

    <br />

    <label for="formFileMultiple" class="form-label">What to do</label>
    <select class="form-select" aria-label="Default select example" id="type" name="type">
      <option selected value="share">Share</option>
      <option value="download">Download</option>
    </select>
    <br />

    <label for="fps" class="form-label">FPS from 1 to 15</label>
    <input type="range" class="form-range" min="1" max="15" step="1" id="fps" name="fps">

    <br />
    <div class="d-grid gap-2 col-1 mx-auto">
      <button type="submit" class="btn btn-success btn-lg">Upload</button>
    </div>
  </div>
</form>
{% endblock %}